{% extends "app/base.html" %}
{% block title %} Реєстрація студента {% endblock title%}
{% block content %}
<div class="form__container">
    <div class="form__decoration"></div>
    <div class="form__reg-form">
        <h1 class="form__heading">Реєстрація студента</h1>
        <p class="form__desription">Всі поля обов'язкові</p>
        <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="form__input">
            <div class="form__blockinput">
                {{ form.last_name }}
            </div>
            <div class="form__blockinput">
                {{ form.first_name }}
            </div>
            <div class="form__blockinput">
                {{ form.patronymic }}
            </div>
            <div class="form__blockinput">
                {{ form.group }}
            </div>
            <div class="form__blockinput">
                {{ form.username }}
            </div>
            <div class="form__blockinput">
                {{ form.password1 }}
                {{ form.errors.password }}
            </div>
            <div class="form__blockinput">
                {{ form.password2 }}
            </div>
        </div>
        <button type="submit" class="form__button">Зареєструватися</button>
        </form>
        <a href="{%url 'login'%}" class="form__link">Вже зареєстровані? Увійдіть в аккаунт</a>
        {% endblock content %}
    </div>
</div>
